<%= t(".neww_html")%>
<%= flash[:notice] %>

<%= form_for @tweet do |f| %>
  <div class="field">
    <%= f.label :body %>
    <%= f.text_field :body, :size => 140 %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, title: t('helpers.choose_file')  %>
  </div>

  <div class="field">
    <%= f.label :video %>
    <%= f.file_field :video, title:  t('helpers.choose_file'), :accept => 'video/*' %>
  </div>

  <div class="field">
    <%= f.label :audio %>
    <%= f.file_field :audio, title:  t('helpers.choose_file') %>
  </div>

  <%= f.submit %>
<% end %>
<%= link_to t('links.index'), tweets_path %>